.post-head {
    padding: 15px;
    font-weight: bold;
}

.postForm{
 border: 1px solid black;
 width: 50%;
 padding: 20px;
 box-shadow: 1px;
}

.formContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.post-input{
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.post-btn {
    height: 40px;
    border: 1px solid black;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.edit-btn{
    background-color: rgb(8, 230, 8);
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 20px;
}

.delete-btn{
    background-color: rgb(249, 61, 24);
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 20px;
}

.all-posts {
    height: 100%;
    padding: 15px;
}

.post-entry {
    padding: 15px;
}

.table {
    padding: 10px;
    width: 100%;
}

td{
    text-align: center;
}

tr{
    padding: 10px;
}

th{
    padding: 10px;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}